.card__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  grid-area: text;
  margin: 32px 0 25px 0;
  padding: 0 16px;
}

.card__paragraph:last-child {
  margin: 0;
}

@media screen and (min-width:768px) {
  .card__paragraph {
    padding: 0;
    margin: 0 24px 25px 0;
  }
}

@media screen and (min-width:1024px) {
  .card__paragraph {
    font-size: 18px;
    margin: 0 48px 26px 0;
  }
}

@media screen and (min-width:1280px) {
  .card__paragraph {
    margin: 0 148px 26px 0;
  }
}
